{% extends "base.html" %}

{% block content%}
    <h1> Build a Blog Entry </h1>

    <div>
        <ul style="list-style-type:none">
            {% for blog in blogs %}
            <a href='/individual?post_id={{blog.id}}'><h2><li>{{blog.title}}</li></h2></a>
            <li>{{blog.post}}</li>
            <br>
            <li> written by: <a href='/blog?user={{blog.owner_id}}'>{{blog.owner.username}}</a></li>
            {% endfor %}

            
            
        
            
        </ul>

    </div>

{% endblock %}